h1 {
  text-align: center;
}
.carousel-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
/* hides the rest of the images */
.carousel-container .carousel-image,
.carousel-container .carousel-item-hidden {
  display: none;
}

/* this makes it possible to target a specific image to be the first visible image on the reel*/
.carousel-container .visible-image {
  display: block;
}

.carousel-container .carousel-image img {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin-top: 50px;
}
/* positioning of buttons */
.carousel-container .button-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* styling of buttons */
.carousel-container .button-actions button {
  border-radius: 5%;
  background-color: white;
  border: 0;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  padding: 2%;
}

.carousel-container .button-actions button#prev-button {
  margin-left: 20px;
}

.carousel-container .button-actions button#next-button {
  margin-right: 20px;
}
